@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Martel+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: #CEF3F3;
    width: 100%;
    height: 600px;
}

.divnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
    text-decoration: none;
}

.btn {
    background-color: #FF5A26;
    width: 229px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 30px 12px 30px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.same {
    
}